<div class="split-view">
  <div class="used-card-section">
    <div>
      <a class="decks-button" href="/decks">
        <p>Decks</p>
      </a>
      <h1>{{deck.name}}</h1>
    </div>
    <form action="/decks/{{deck.id}}/update" method="POST">
      <input type="text" name="name">
      <button>Rename</button>
    </form>
    {{#each deck.flashcards}}
    {{#if this.name}}
    <div class="flashcard-container">
      <p>{{this.name}}</p>
      <form action="/decks/{{../deck.id}}/remove/{{this.name}}" method="POST"><button>Remove</button></form>
    </div>
    {{/if}}
    {{/each}}
    <form action="/decks/{{deck.id}}/delete" method="POST"><button>Delete Deck</button></form>
  </div>
  <div class="selectable-card-section">
    {{#each flashcards}}
    {{#if this.name}}
    <p>{{this.name}}</p>
    <form action="/decks/{{../deck.id}}/add/{{this.id}}" method="POST"><button>Add</button></form>
    {{/if}}
    {{/each}}
  </div>
</div>