<div class="flashcard-data" hidden>
  {{#each flashcards}}
  <div class="id">
    a{{this.id}}
  </div>
  <div class="a{{this.id}} name">
    {{this.name}}
  </div>
  <div class="a{{this.id}} gif-url">
    {{this.gifURL}}
  </div>
  <div class="a{{this.id}} category">
    {{this.category}}
  </div>
  {{/each}}
</div>

<div class="receptive-training">
  <h1>{{name}}</h1>
  <div class="gif-container"></div>
  <ul class="responses">
    <li class="response-option"></li>
    <li class="response-option"></li>
    <li class="response-option"></li>
    <li class="response-option"></li>
  </ul>

  <nav class="training-navigation">
    <a href="/decks">
      <p class="decks-text">Decks</p>
    </a>
    <div class="next-button">
      <p>Next</p>
    </div>
  </nav>
</div>

<script src="/js/receptive.js"></script>